.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.index-image {
  width: 1009px;
  height: 1449px;
  object-fit: cover;
}
